/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset CSS */

/* Variables */
:root {
  font-size: var(--text-size);
  font-family: var(--Poppins);
  font-weight: 400;
  line-height: 1;
  --primary-color: #1db2ff;
  --secondary-color: #e7f6fd;
  --text-color: #333;
  --color-white: #f3f3f3;
  --DMSans: "DM Sans", sans-serif;
  --Poppins: "Poppins", sans-serif;
  --text-size: 16px;
}
.color-primary {
  color: var(--primary-color);
}
.font-poppins {
  font-family: var(--Poppins);
}
.font-text-b {
  font-size: var(--text-size);
  color: var(--text-color);
  font-weight: 400;
  font-family: var(var(--DMSans));
}
.font-text-w {
  font-size: var(--text-size);
  color: #f3f3f3;
  font-weight: 400;
  font-family: var(var(--DMSans));
}
/* Variables */

/* 
***
***
***
My CSS
****
***
*** */

/* Header */
header .navbar {
  background: #f3f3f3;
  padding-bottom: 0;
}
a.navbar-brand {
  width: 200px;
}
.button-wrapper-header {
  width: auto;
  display: flex;
  flex-direction: row;
}
.button-wrapper-header div {
  font-size: 14px;
  text-transform: uppercase;
}

.nav-item .active,
.nav-link {
  color: var(--text-color) !important;
}
.nav-item .active {
  font-weight: 500;
}
.wrapper-sign-in {
  text-decoration: none;
}
.wrapper-listing-btn {
  text-decoration: none;
  padding: 15px 20px !important;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}
.wrapper-sign-in:hover,
.wrapper-listing-btn:hover {
  color: var(--primary-color);
}
.wrapper-listing-btn:hover {
  color: var(--primary-color);
  /* font-weight: bold; */
  /* font-family: var(--Poppins); */
  border-color: var(--primary-color);
}
.wrapper-serach-bar {
  background: var(--secondary-color);
}

.rent-sale-wrappar {
  display: flex;
  justify-content: center;
  border-left: 5px solid var(--color-white);
}
.rent-sale-wrappar a {
  text-decoration: none;
  color: var(--text-color);
  /* border-left:1px solid var(--primary-color); */
  /* border-right:1px solid var(--primary-color); */
  height: 100%;
  padding: 1.5em 0.75em;
  font-weight: 500;
}
.rent-sale-wrappar a:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
}
.w-75 {
  width: 75%;
}
.w-25 {
  width: 25%;
}
.search-wrapper-col {
  border-left: 1px solid var(--color-white);
  height: auto;
}
.search-wrapper {
  display: flex;
}
.search-wrapper form,
.search-wrapper form .w-75 {
  width: 100%;
  display: flex;
}
.search-wrapper form .w-100,
.search-wrapper form .w-25 {
  margin-right: 0.5em !important;
}
.search-wrapper-section .form-control {
  border: 0;
  box-shadow: none;
  background-color: #fff !important;
}
.search-wrapper form input,
.search-wrapper form input::placeholder {
  font-family: var(--DMSans);
  font-size: var(--text-size);
}
.search-wrapper-section .form-control,
.search-wrapper .form-select {
  padding: 10px 20px;
}
.search-wrapper-section .form-control:focus,
.search-wrapper .form-select:focus {
  box-shadow: none;
}
.search-wrapper-section .btn-serach {
  background-color: #fff !important;
}
.search-wrapper-section .btn-serach i {
  font-size: 1.2em;
  color: var(--primary-color);
}
.search-wrapper .form-select {
  border: 0;
}
.all-types-btn .form-select option {
  border-bottom: 1px solid var(--primary-color);
}
.advance-wrapper a {
  font-size: var(--text-size);
  text-decoration: none;
  color: var(--text-color);
}
.advance-wrapper a:hover {
  color: var(--primary-color);
}

/* Header */

/** Media Query Header Nav**/
@media (min-width: 1400px) {
  .wrapper-serach-bar {
    max-width: 1296px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  header .navbar .container-xl {
    max-width: 100%;
  }
  .wrapper-listing-btn {
    padding: 5px 10px !important;
  }
  .button-wrapper-header .font-text,
  .button-wrapper-header div {
    font-size: 1em;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .button-wrapper-header .font-text,
  .button-wrapper-header div {
    font-size: 0.8em;
  }
}
@media (max-width: 767px) {
  .navbar-nav {
    margin-left: 1em !important;
  }
}
/** Media Query Header Nav**/

/* Home Slider */

.slider-home {
  padding: 0;
}
.slider-home .swiper {
  width: 100%;
  height: 100%;
}

.slider-home .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 700px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}
.slider-home-main .wrapper-banner {
  height: 100%;
  width: 100%;
  /* background: url("assets/offplan.webp"); */
  background-repeat: no-repeat;
  background-position: center;
  /* padding: 5em 0; */
}
.slider-home-main .wrapper-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-home-main .sub-heading-home-banner {
  text-transform: uppercase;
  font-size: 1.5em;
  padding-bottom: 2em;
  color: #fff;
}
.slider-home-main .main-heading-home-banner {
  text-transform: capitalize;
  font-size: 2.5em;
  padding-bottom: 1.5em;
  color: #fff;
}
.button-find-out-more {
  display: block;
  margin-top: 1em;
  max-width: 250px;
  margin: auto;
  padding: 15px 25px;
  border-radius: 5px;
  background: var(--primary-color);
  text-decoration: none;
  color: var(--color-white);
}
.button-find-out-more:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
}
.left-right-image {
  margin: 0.75em 0 1.5em 0;
}
.slider-home-main .swiper-button-next:after,
.slider-home-main .swiper-button-prev:after {
  /* content: "next"; */
  color: #fff;
}

/* Home Slider */

/* Home Slider Media Query */
@media (max-width: 767px) {
  .slider-home .swiper-slide {
    height: auto;
  }
  .slider-home .wrapper-banner {
    padding: 5em 0;
  }
}
@media (max-width: 450px) {
  .slider-home-main .main-heading-home-banner {
    font-size: 1.5em;
    padding: 1em 0.5em;
    line-height: 1.5;
  }
  .slider-home-main .sub-heading-home-banner {
    padding-bottom: 1.5em;
  }
  .slider-home-main .sub-heading-home-banner {
    font-size: 1em;
  }
  .slider-home .swiper-slide {
    height: 75vh;
  }
  .slider-home .wrapper-banner {
    padding: 0em 0;
  }
  .left-right-image {
    margin: 1.5em 2.5em;
    max-width: 200px;
  }
  .button-find-out-more {
    max-width: 200px;
    font-size: 0.875em;
  }
  .slider-home-main .swiper-button-next:after,
  .slider-home-main .swiper-button-prev:after {
    font-size: 2em;
  }
}
/* Home Slider Media Query */

/* Discover Properties  */
.discoverPropsCards {
  margin: 5em auto;
  height: auto;
}
.discoverPropsCards .discoverHeadingCards {
  font-size: 1.75em;
  font-family: var(--Poppins);
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 0.5em;
}
.discoverPropsCards .discoverSubHeadingCards {
  font-size: 0.875em;
  font-family: var(--Poppins);
  color: var(--text-color);
  opacity: 0.75;
  font-weight: 400;
  margin-bottom: 1em;
}

.wrapper-grid-cards {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.discoverPropsCards .CardsRow {
  margin: 3em auto;
}
.card-single {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-width: 280px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}
.card-single:hover .wrapper-dark-absolute {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  background: var(--text-color);
  opacity: 0.5;
  z-index: 99;
}
.view-all-button {
  /* display: none; */
  background: #fff;
  padding: 10px 20px;
  justify-self: center;
  align-self: center;
  font-size: 1em;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: var(--text-color);
  margin: auto;
  font-weight: 500;
  font-family: var(--Poppins);
  z-index: 100;
  margin-top: 85%;
}
.card-single:hover .view-all-button {
  display: block;
}
.view-all-button:hover {
  color: var(--primary-color);
}
.card-prop-details {
  justify-self: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transform: translateY(50%);
  background: var(--color-white);
  margin: 0 auto;
  padding: 0.875em;
  border-radius: 20px;
  z-index: 100;
  position: relative;
}
.card-prop-details span {
  text-align: center;
}
.card-prop-details .city {
  position: absolute;
  text-align: center;
  left: 0;
  background: var(--primary-color);
  font-family: var(--Poppins);
  text-align: center;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  /* width: auto; */
  top: -20%;
  color: var(--color-white);
}
.card-prop-details .number {
  font-size: 2em;
  font-weight: 600;
  font-family: var(--Poppins);
  color: var(--text-color);
}
.card-prop-details .prop-title {
  font-size: 1em;
  font-weight: 500;
  margin-top: 0.5em;
  font-family: var(--Poppins);
  color: var(--text-color);
}
/* Discover Properties  */

/* Discover Properties Media*/
@media (min-width: 992px) {
  .discoverPropsCards {
    margin-bottom: 10em;
  }
}
@media (max-width: 1200px) {
  .card-single {
    justify-self: center;
    margin-bottom: 3.5em;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .wrapper-grid-cards {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    align-items: center;
  }
}
@media (min-width: 550px) and (max-width: 767px) {
  .wrapper-grid-cards {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 549px) {
  .discoverPropsCards .discoverHeadingCards,
  .discoverPropsCards .discoverSubHeadingCards {
    text-align: center;
  }
  .wrapper-grid-cards {
    grid-template-columns: 1fr;
  }
  .card-single {
    justify-self: center;
    margin-bottom: 3.5em;
  }
}
/* Discover Properties  Media*/

/* Partners */
.partner-of-real-homes {
  margin: 5em auto;
  max-width: 1080px;
}
.partner-heading-row h3 {
  font-size: 2em;
  font-family: var(--Poppins);
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 0.5em;
}
.partner-heading-row h4 {
  font-size: 1em;
  font-family: var(--Poppins);
  color: var(--text-color);
  font-weight: 400;
  opacity: 0.75;
  margin-bottom: 0.5em;
}

.wrapper-partners {
  margin: 3em auto;
}
.wrapper-partners-cards {
  display: flex;
}
.width-20-Lg {
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
}
.card-partner {
  margin-top: 1.5em;
  padding: 1.5em 0.5em;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px 5px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 2px 10px 5px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 2px 10px 5px rgba(51, 51, 51, 0.5);
}
.card-partner img {
  max-width: 150px;
  object-fit: cover;
}

.card-partner:hover {
  /* transition: 0.1s ease-in-out; */
  border: 2px solid var(--primary-color);
}
.width-20-Lg {
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .partner-heading-row h3,
  .partner-heading-row h4 {
    text-align: center;
  }
  .wrapper-partners-cards {
    max-width: 800px;
    justify-content: center;
    margin: auto;
  }
  .width-20-Lg {
    width: 31.33%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media (max-width: 767px) {
  .wrapper-partners-cards {
    max-width: 650px;
    margin: auto;
  }
  .width-20-Lg {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .width-20-Lg img {
    width: 200px;
    object-fit: fill;
    max-width: 100%;
  }
  .partner-heading-row h3,
  .partner-heading-row h4 {
    line-height: 1;
  }
}
/* @media (max-width: 500px) {
  .wrapper-partners-cards {
    max-width: 400px;
    margin: auto;
  }
  .width-20-Lg {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .width-20-Lg img {
    max-width: 100%;
  }
  .partner-heading-row h3,
  .partner-heading-row h4 {
    line-height: 1;
  }
} */

@media (max-width: 500px) {
  .wrapper-partners-cards {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: unset;
    overflow-x: scroll;
    justify-content: space-between;
  }
  .width-20-Lg {
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
  }
  .wrapper-partners-cards::-webkit-scrollbar {
    background-color: var(--secondary-color);
    width: 12px;
    border-radius: 20px;
    border: 3px solid var(--color-white);
  }
  .wrapper-partners-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
  }
}
/* Partners */

/* Single-property-cards */
.property-cards-area {
  margin-top: 5em;
  margin-bottom: 10em;
}
.property-cards-area .container-xl .row-main {
  /* margin: auto; */
  justify-content: center;
}
.property-cards-single-wrapper {
  max-width: 350px;
  margin-bottom: 2em;
}
/* Card Top Section */
.section-img-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  max-width: 350px;
  border-radius: 10px;
}
.badges-row {
  /* margin: auto; */
  margin-top: 10px;
  max-width: 99%;
}

.badges-row .for-sale,
.badges-row .for-featured,
.badges-row .for-hot,
.badges-row .wrapper-cameraicon,
.badges-row .wrapper-video-icon {
  font-size: 0.75em;
  color: var(--text-color);
  font-family: var(--Poppins);
  border-radius: 10px;
  padding: 4px;
  font-weight: 500;
}

.badges-row .col-8 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.badges-row .col-4 {
  display: flex;
  justify-content: space-evenly;
}
.badges-row .for-sale {
  background: #fff;
}
.badges-row .for-featured {
  background: var(--primary-color);
  color: var(--color-white) !important;
}
.badges-row .for-hot {
  background: red;
  padding: 4px 8px !important;
  color: var(--color-white) !important;
}

.badges-row .wrapper-cameraicon,
.badges-row .wrapper-video-icon {
  display: flex;
  text-decoration: none;
  background-color: #fff;
  padding: 5px;
  margin-right: 5px;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}
.badges-row .wrapper-cameraicon i,
.badges-row .wrapper-video-icon i {
  color: var(--primary-color);
  padding-right: 5px;
}
/* Card Top Section */

/* Card Bottom Section */
.section-text-details-wrapper {
  margin-top: 1em;
  margin-top: 1em;
}
.section-text-details-wrapper .heading-props {
  margin-bottom: 0.5em;
}
.section-text-details-wrapper .heading-props a {
  text-decoration: none;
  font-family: var(--Poppins);
  color: var(--text-color);
  /* margin-bottom: 0.5em; */
  font-weight: 500;
  font-size: 1em;
  line-height: 1;
}

.section-text-details-wrapper .row-price {
  align-items: center !important;
  margin-bottom: 1em;
}
.section-text-details-wrapper .props-location {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  opacity: 0.75;
  color: var(--text-color);
  font-family: var(--Poppins);
}
.section-text-details-wrapper .props-location i {
  color: var(--primary-color);
  font-size: 0.75em;
  margin-right: 0.25em;
}

.section-text-details-wrapper .props-type {
  font-family: var(--Poppins);
  font-size: 0.75em;
  /* opacity: 0.75; */
  margin-bottom: 1em;
  margin-top: 1em;
  color: var(--text-color);
}
.section-text-details-wrapper .features-props-icons {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.section-text-details-wrapper .features-props-icons i {
  color: var(--primary-color);
  padding-right: 5px;
}
.section-text-details-wrapper .price-props {
  font-family: var(--Poppins);
  color: var(--text-color);
  font-size: 1em;
}
.section-text-details-wrapper .props-room-wrapper,
.section-text-details-wrapper .props-bath-wrapper,
.section-text-details-wrapper .props-area-wrapper {
  font-family: var(--Poppins);
  color: var(--text-color);
  font-size: 0.75em;
}
.section-text-details-wrapper .date-added,
.section-text-details-wrapper span {
  font-family: var(--Poppins);
  color: var(--text-color);
  font-size: 0.75em;
}
.section-text-details-wrapper span {
  opacity: 0.75;
  font-size: 1em;
}
/* Card Bottom Section */

/* Single-property-cards */

/* Feature Neighborhood */
.neighbor-wrapper {
  max-width: 1320px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.neighbor-wrapper .grid-wrapper {
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.neighbor-wrapper .img-single-grid {
  width: auto;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 3em;
}

.neighbor-wrapper .img-single-grid .commercial,
.neighbor-wrapper .img-single-grid .listing-number,
.neighbor-wrapper .img-double .commercial,
.neighbor-wrapper .img-double .listing-number {
  color: #fff;
  font-family: var(--Poppins);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}
.img-double {
  width: 400px;
  height: 100%;
  /* background: black; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 3em;
}
.img-double {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media (max-width: 1375px) {
  .neighbor-wrapper .grid-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .img-single-col-4-2 {
    grid-column: 4 / -1;
  }
  .img-single-col-4-1 {
    grid-column: 1 / 3;
  }
  .img-double {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .img-single-col-2-2 {
    grid-column-start: 4;
    grid-row: 2;
  }
  .img-single-col-3-1 {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .img-single-col-3-2 {
    grid-row-start: 2;
  }
  .img-single-col-2-1 {
    grid-column-start: 3;
    grid-column-end: -1;
  }
}
@media (max-width: 991px) {
  .neighbor-wrapper .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-double {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .img-single-col-1-2 {
    grid-column: 1 / 3;
  }
  .img-single-col-2-2 {
    grid-column: 2 / 3;
  }
  .img-single-col-4-2 {
    grid-column: 3/4;
    grid-row: 4;
  }
  .img-single-col-3-1 {
    grid-column: 2/4;
    grid-row: 2;
  }
  /* .img-single-col-2-2 {
    grid-column-start: 2;
    grid-row: 2;
  }  */
}

@media (max-width: 500px) {
  .neighbor-wrapper .grid-wrapper {
    grid-template-columns: 1fr;
  }
  .img-single-col-1-1,
  .img-single-col-1-2,
  .img-single-col-2-2,
  .img-single-col-2-1,
  .img-single-col-3-1,
  .img-single-col-3-2,
  .img-single-col-4-1,
  .img-single-col-4-2 {
    grid-column: 1/4;
  }
  .img-double {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

/* Feature Neighborhood */
